<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error explanation">
      <h4><%= pluralize(@user.errors.count, "error") %>
        prohibited this user from being saved: </h4>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :username, "Your username"%>
  <%= f.text_field :username %>
  <br>
  <%= f.label :email, "Your email" %>
  <%= f.email_field :email%>
  <br>
  <%= f.label :password, "Your password" %>
  <%= f.password_field :password %>
  <br>
  <%= f.submit "Submit" %>
<% end %>
